/* CSS Document */

/* SEARCH ASC DESC */

.div1
{
float:left;
}

.div2
{
float:left;
}

.div3
{
float:left;
}

.search_button
{
background-image:url(../img/search.png);
background-repeat:no-repeat;
background-position:center;
border-radius:999px;
margin-left:5px;
}

.asc_button
{
background-image:url(../img/ascend.png);
background-repeat:no-repeat;
background-position:center;
border-radius:999px;
margin-left:10px;
}

.desc_button
{
background-image:url(../img/descend.png);
background-repeat:no-repeat;
background-position:center;
border-radius:999px;
margin-left:10px;
}

.bg
{
background-image:url(../images/bgTop.jpg);
background-repeat:no-repeat;
height:800px;
width:100%;
padding:10px;
}